.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: var(--secondary);
  color: var(--white);
}

.copyright {
  background-color: color-mix(in srgb, var(--secondary), black 10%);
}
