/* Typography */
body {
  font: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: var(--font-heading);
}

/* Custom Horizontal Rule with Star Icon */
hr.star-light,
hr.star-dark {
  max-width: 20rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin: 2.5rem auto 2.5rem auto;
}

hr.star-light:after,
hr.star-dark:after {
  position: relative;
  top: -0.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: "\f005";
  font-family: FontAwesome;
  font-size: 2em;
}

hr.star-light {
  border-color: var(--white);
}
hr.star-light:after {
  color: var(--white);
  background-color: var(--primary);
}

hr.star-dark {
  border-color: var(--secondary);
}
hr.star-dark:after {
  color: var(--secondary);
  background-color: white;
}

/* Section Padding Settings */
section {
  padding: 6rem 0;
  h2 {
    font-size: 2.25rem;
    line-height: 2rem;
  }
  @media (min-width: 992px) {
    h2 {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }
}

/* Custom Button Size */
.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

/* Custom Rounded Social Button */
.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

/* Prevents vertical scroll */
.scroll-lock {
  overflow-y: hidden;
}

/* Scroll to Top Button */
.scroll-to-top {
  position: absolute;
  top: 100px;
  opacity: 0;
  transition: opacity 300ms ease-in;

  &.enabled {
    opacity: 0.6;
  }

  a {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--gray-600);
    line-height: 3.1rem;
  }
}

/* Custom Links */
section {
  a.darklink {
    color: var(--secondary);
    text-decoration: underline;
    font-weight: 500;

    &:focus,
    &:hover,
    &:active {
      color: var(--secondary);
    }
  }
}

/* images */
.cover {
  object-fit: cover;
  object-position: 0 -1px;
  width: 400px;
  height: 300px;
}
