/*  Styling for the navbar */
#mainNav {
  top: -1px;
  padding-top: calc(1rem + 1px);
  padding-bottom: 1rem;
  font: var(--font-heading);
  .navbar-brand {
    color: var(--white);
  }
  .navbar-nav {
    margin-top: 1rem;
    letter-spacing: 0.0625rem;
    li.nav-item {
      a.nav-link {
        color: var(--white);
        &:hover {
          color: var(--primary);
        }
        &:active,
        &:focus {
          color: var(--white);
        }
        &.active {
          color: var(--primary);
        }
      }
    }
  }
  .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition:
      padding-top 0.3s,
      padding-bottom 0.3s;
    -moz-transition:
      padding-top 0.3s,
      padding-bottom 0.3s;
    transition:
      padding-top 0.3s,
      padding-bottom 0.3s;
    .navbar-brand {
      font-size: 2em;
      -webkit-transition: font-size 0.3s;
      -moz-transition: font-size 0.3s;
      transition: font-size 0.3s;
    }
    .navbar-nav {
      margin-top: 0;
    }
    .navbar-nav > li.nav-item > a.nav-link.active {
      color: var(--white);
      background: var(--primary);
      &:active,
      &:focus,
      &:hover {
        color: var(--white);
        background: var(--primary);
      }
    }
  }
  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    .navbar-brand {
      font-size: 1.5em;
    }
  }
}
