// Variables

$white: #fff !default;
$gray-100: #e7e9eb !default;
$gray-200: #e6e9eb !default;
$gray-300: #cbcbcb !default;
$gray-400: #666666 !default;
$gray-500: #4a4a4a !default;
$gray-600: #2e2e2e !default;
$black: #000 !default;

$primary: #1f8476 !default;
$secondary: #000000 !default;
